.right-section{
    display: grid;
    justify-content:justify;
    align-content: center;;
    min-height: 100px;
    background-color: lightgray;
    grid-template-columns: 50%;
    padding: 5px;
}
#right-section{
    display: grid;
    justify-content:first baseline;
    align-content: center;
    min-height: 100px;
    background-color: lightgray;
    padding: 5px;
}
.justify{
    text-align: justify
} 
.center{
    text-align: center;
}
body {
    padding: 10px;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
.form-group{
    display: flexbox;
    margin-left: 5%;
}
.hitung{
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border-style: hidden;
    margin-left: 5%
}
.hapus{
    display: flexbox;
    padding: 10px;
    border-radius: 6px;
    border-style: hidden;
}
.tombol{
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border-style: hidden;
    justify-content: center;
    align-content: center;
}